html, body {
	height: 17500px;
	width: 100%;
	margin: 0;
	padding: 0;
}

#name_header {
        font-size: 40px;
        font-family: inherit;
}
a {
	font-size: 25px;
	color: rgb(102, 204, 204);
	text-decoration: none;
	font-family: inherit;
}

h2 {
	font-size: 25px;
}

a:hover {
	color: rgb(221, 160, 221);
}

a:active {
	color: rgb(138, 43, 226);
}

.header {
	padding-top: 10px;
	margin-left: 800px;
}

.header img {
	height: 20px;
	width: 20px;
	opacity: 0.8;
}

#page {
		width: inherit;
		height: inherit;
		background-color: black;
		text-align: center;
		background-image: url(../images/longjinx.jpg);
}
.main_content {
		background-color: black;
		height: inherit;
		width: 68%;
		margin: 0 auto;
		list-style-type: none;
		font-family: arial;
}

#bio {
	font-size: 25px;
	color: purple;
}

.text_content {
	margin: 0 auto;
	width: 100%;
	padding-top: 20px;
	color: rgb(102, 204, 204);
	text-align: center;
}

.shows {
	width: 650px;
	background-color: pink;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
	border-color: rgb(102, 204, 204);
	border-style: solid;
	font-size: 25px;
}


.press {
	width: 400px;
	background-color: pink;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
	border-color: rgb(102, 204, 204);
	border-style: solid;
	text-decoration: underline;
}

.bio {
	width: 600px;
	background-color: pink;
	margin: 0 auto;
	font-size: 14px;
	border-color: rgb(102, 204, 204);
	border-style: solid;
}

#locket-letters {
	width: 50%;
	height: 50%;
}

#jinx-letters {
	width: 50%;
	height: 50%;
}

#crumb-letters {
	width: 50%;
	height: 50%;
}


.resume_text {
	text-align: left;
}

.album {
	margin: 0 auto;
}

.links {
	text-align: center;
}

.job_position {
	font-style: italic;
}

.location {
	left: 400px;
}

.date {
	left: 400px;
}

.experience {
	list-style-type: circle;
}

.no_bullet {
	list-style-type: none;
}

.shirt {
	height: 400px;
	width: 400px;
}

.shirt:hover {
	opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: pointer;
}

.nav button {
	cursor: pointer;
	border: none;
	background-color: black;
	img {
		color: red;
	}
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
/* STYLES GO HERE */
	#page {
		background-image: none;
	}
	.main_content {
		background-color: black;
		background-image: none;
	}

	.header {
		padding-top: 10px;
		margin-left: 500px;
	}

}

